Repository kulshekhar/ts-jest, pull requests merged in 2018-10, with the labels that each got.

#787 Fix testing utils & cache digest & docs related to presets
  README.md
  docs/user/config/index.md
  docs/user/config/stringifyContentPathRegex.md
  docs/user/install.md
  docs/user/react-native/index.md
  docs/user/test-helpers.md
  e2e/__cases__/deep/src/Tests/jest.config.js
  e2e/__cases__/test-helpers/deprecated.spec.ts
  e2e/__cases__/test-helpers/fail.spec.ts
  e2e/__cases__/test-helpers/pass.spec.ts
  e2e/__templates__/with-jest-22/jest.config.js
  e2e/__tests__/__snapshots__/test-helpers.test.ts.snap
  e2e/__tests__/test-helpers.test.ts
  src/cli/cli.spec.ts
  src/cli/config/init.ts
  src/cli/config/migrate.ts
  src/cli/helpers/presets.ts
  src/cli/index.ts
  src/compiler.spec.ts
  src/config/config-set.spec.ts
  src/config/config-set.ts
  src/config/create-jest-preset.ts
  src/index.spec.ts
  src/index.ts
  src/types.ts
  src/util/exported.spec.ts
  src/util/exported.ts
  src/util/jsonable-value.spec.ts
  src/util/messages.ts
  src/util/testing.ts
  src/util/version-checkers.spec.ts
  utils/index.d.ts
  utils/index.js
Labels: documentation, hotfix

#795 chore(release): 23.10.4
  CHANGELOG.md
  package-lock.json
  package.json
Labels: release

#830 Update index.md
  docs/user/config/index.md
Labels: documentation
