Repository kulshekhar/ts-jest, pull requests merged in 2018-09, with the labels that each got.

#702 adds links to slack and beta in readme (master)
  README.md
Labels: documentation

#703 [beta] Use the proper way of mutating a node in a transformer
  src/transformers/README.md
  src/transformers/hoist-jest.ts
  src/transformers/index.ts
Labels: enhancement

#704 [beta] updates peers & merge master
  package.json
Labels: code cleanup, enhancement

#705 [beta] improves ci + coveralls
  .travis.yml
  README.md
  appveyor.yml
Labels: enhancement

#707 [beta] option to not fail on first error/diagnostic & improve coverage
  .travis.yml
  docs/tech/process/index.md
  docs/user/config/diagnostics.md
  e2e/__cases__/diagnostics/main.spec.ts
  e2e/__cases__/diagnostics/main.ts
  e2e/__tests__/__snapshots__/diagnostics.test.ts.snap
  e2e/__tests__/__snapshots__/isolated-modules.test.ts.snap
  e2e/__tests__/diagnostics.test.ts
  e2e/__tests__/isolated-modules.test.ts
  src/__helpers__/fakers.ts
  src/cli/cli.spec.ts
  src/cli/config/migrate.ts
  src/compiler.spec.ts
  src/compiler.ts
  src/config/__snapshots__/config-set.spec.ts.snap
  src/config/config-set.spec.ts
  src/config/config-set.ts
  src/config/paths-to-module-name-mapper.spec.ts
  src/ts-jest-transformer.spec.ts
  src/ts-jest-transformer.ts
  src/types.ts
  src/util/__snapshots__/backports.spec.ts.snap
  src/util/backports.ts
  src/util/logger.spec.ts
  src/util/messages.ts
  src/util/ts-error.ts
Labels: enhancement

#701 [wip][beta] doc updates & CI filtering fixes
  .markdownlint.yaml
  README.md
  cli.js
  docs/README.md
  docs/_config.yml
  docs/_data/nav.yml
  docs/_includes/header.html
  docs/_sass/_typo.scss
  docs/index.md
  docs/tech/e2e/index.md
  docs/tech/process/index.md
  docs/user/config.md
  docs/user/config/babelConfig.md
  docs/user/config/compiler.md
  docs/user/config/diagnostics.md
  docs/user/config/index.md
  docs/user/config/isolatedModules.md
  docs/user/config/stringifyContentPathRegex.md
  docs/user/config/tsConfig.md
  docs/user/install.md
  e2e/README.md
  e2e/__helpers__/test-case/run-result.ts
  src/cli/config/init.ts
  src/cli/config/migrate.ts
Labels: documentation

#714 [beta] fixes instrumentation & adds e2e tests for coverage
  .npmignore
  e2e/__cases__/simple/Hello.ts
  e2e/__helpers__/test-case/runtime.ts
  e2e/__templates__/default/tsconfig.json
  e2e/__templates__/with-babel-6/tsconfig.json
  e2e/__templates__/with-babel-7/tsconfig.json
  e2e/__templates__/with-jest-22/tsconfig.json
  e2e/__templates__/with-typescript-2-7/tsconfig.json
  e2e/__templates__/with-unsupported-version/tsconfig.json
  e2e/__tests__/__snapshots__/coverage.test.ts.snap
  e2e/__tests__/__snapshots__/source-map.test.ts.snap
  e2e/__tests__/coverage.test.ts
  e2e/__tests__/source-map.test.ts
  package-lock.json
  package.json
  src/index.ts
  src/ts-jest-transformer.spec.ts
  src/ts-jest-transformer.ts
Labels: hotfix

#715 [beta] adds React Native docs
  docs/_data/nav.yml
  docs/index.md
  docs/user/react-native/index.md
Labels: documentation

#717 [beta] Improving coverage
  package-lock.json
  package.json
  src/__helpers__/mocks.ts
  src/cli/cli.spec.ts
  src/compiler.spec.ts
  src/config/config-set.spec.ts
  src/transformers/hoist-jest.spec.ts
  src/transformers/hoist-jest.ts
  src/ts-jest-transformer.spec.ts
  src/util/hacks.spec.ts
  src/util/hacks.ts
  src/util/memoize.ts
  src/util/messages.ts
Labels: enhancement

#719 [beta] explain limitations when using babel-ts over ts
  README.md
  docs/_data/nav.yml
  docs/_sass/_anchors.scss
  docs/assets/img/logo.png
  docs/assets/img/logo.svg
  docs/index.md
  docs/user/babel7-or-ts.md
  icon.png
Labels: documentation

#724 [beta] warns the user if jest config transform matches js files without allowJs in tsconfig
  src/ts-jest-transformer.spec.ts
  src/ts-jest-transformer.ts
  src/util/messages.ts
  tsconfig.build.json
  tsconfig.json
Labels: enhancement

#736 warn instead of forcing ESM interoperability
  e2e/__tests__/__snapshots__/hoisting.test.ts.snap
  src/config/config-set.spec.ts
  src/config/config-set.ts
  src/util/messages.ts
Labels: enhancement

#751 Fix cache collisions
  .editorconfig
  .gitignore
  .npmignore
  .travis.yml
  appveyor.yml
  e2e/__cases__/deep/src/Tests/jest.config.js
  e2e/__cases__/ts-jest-checks/index.spec.ts
  e2e/__helpers__/test-case/run-result.ts
  e2e/__helpers__/test-case/runtime.ts
  e2e/__helpers__/test-case/types.ts
  e2e/__tests__/__snapshots__/diagnostics.test.ts.snap
  e2e/__tests__/__snapshots__/hoisting.test.ts.snap
  e2e/__tests__/__snapshots__/isolated-modules.test.ts.snap
  e2e/__tests__/__snapshots__/logger.test.ts.snap
  e2e/__tests__/__snapshots__/simple.test.ts.snap
  e2e/__tests__/__snapshots__/source-map.test.ts.snap
  e2e/__tests__/diagnostics.test.ts
  e2e/__tests__/logger.test.ts
  e2e/__tests__/ts-jest-checks.test.ts
  e2e/jest.config.js
  jest.config.js
  package.json
  scripts/e2e.js
  scripts/lib/bundle.js
  scripts/lib/paths.d.ts
  scripts/lib/paths.js
  scripts/post-build.js
  src/__mocks__/index.ts
  src/compiler.spec.ts
  src/compiler.ts
  src/config/config-set.spec.ts
  src/config/config-set.ts
  src/index.ts
Labels: enhancement, hotfix

#753 Module warning => message not throwing
  .travis.yml
  appveyor.yml
  e2e/__cases__/module-kinds/import-default.spec.ts
  e2e/__cases__/module-kinds/import-legacy.spec.ts
  e2e/__cases__/module-kinds/import-star.spec.ts
  e2e/__cases__/module-kinds/lib.d.ts
  e2e/__cases__/module-kinds/lib.js
  e2e/__cases__/module-kinds/tsconfig.json
  e2e/__helpers__/test-case/__hooks-source__.js.hbs
  e2e/__helpers__/test-case/run-descriptor.ts
  e2e/__helpers__/test-case/run-result.ts
  e2e/__helpers__/test-case/runtime.ts
  e2e/__helpers__/test-case/types.ts
  e2e/__helpers__/test-case/utils.ts
  e2e/__tests__/__snapshots__/coverage.test.ts.snap
  e2e/__tests__/coverage.test.ts
  e2e/__tests__/module-kinds/__snapshots__/amd.test.ts.snap
  e2e/__tests__/module-kinds/__snapshots__/commonjs.test.ts.snap
  e2e/__tests__/module-kinds/__snapshots__/es2015.test.ts.snap
  e2e/__tests__/module-kinds/__snapshots__/esnext.test.ts.snap
  e2e/__tests__/module-kinds/__snapshots__/none.test.ts.snap
  e2e/__tests__/module-kinds/__snapshots__/system.test.ts.snap
  e2e/__tests__/module-kinds/__snapshots__/umd.test.ts.snap
  e2e/__tests__/module-kinds/amd.test.ts
  e2e/__tests__/module-kinds/commonjs.test.ts
  e2e/__tests__/module-kinds/es2015.test.ts
  e2e/__tests__/module-kinds/esnext.test.ts
  e2e/__tests__/module-kinds/helpers.ts
  e2e/__tests__/module-kinds/none.test.ts
  e2e/__tests__/module-kinds/system.test.ts
  e2e/__tests__/module-kinds/umd.test.ts
  scripts/clean.js
  scripts/e2e.js
  src/config/config-set.spec.ts
  src/config/config-set.ts
Labels: hotfix

#757 testMatch and testRegex + presets
  docs/user/config/index.md
  e2e/__cases__/allow-js/esm.spec.js
  e2e/__cases__/preset-with-babel/.babelrc
  e2e/__cases__/preset-with-babel/main.spec.js
  e2e/__helpers__/templates.ts
  e2e/__tests__/__snapshots__/allow-js.test.ts.snap
  e2e/__tests__/allow-js.test.ts
  e2e/__tests__/jest-presets.test.ts
  jest-preset.js
  presets/create.js
  presets/default/jest-preset.js
  presets/index.d.ts
  presets/index.js
  presets/js-with-babel/jest-preset.js
  presets/js-with-ts/jest-preset.js
  src/cli/cli.spec.ts
  src/cli/config/migrate.ts
  src/config/create-jest-preset.spec.ts
  src/config/create-jest-preset.ts
  src/types.ts
Labels: documentation, enhancement, hotfix

#763 Fixes wrong error message when a module exists but fails loading
  src/config/config-set.ts
  src/types.ts
  src/util/importer.spec.ts
  src/util/importer.ts
  src/util/messages.ts
Labels: hotfix

#764 23.10.2
  CHANGELOG.md
  package-lock.json
  package.json
Labels: release

#769 Lock husky version & uses `latest` instead of `*`
  package-lock.json
  package.json
Labels: internal

#775 use semver >= v5.5.0 so semver.coerce is there
  package.json
Labels: hotfix

#776 Update jekyll from 3.7.3 to 3.7.4 (security)
  docs/Gemfile.lock
Labels: dependencies

#779 23.10.3
  CHANGELOG.md
  package-lock.json
  package.json
Labels: release
